<!doctype html>
<html lang="de">
<body>
<p>
    Hallo <span th:text="${firstName}">Vorname</span>,<br/>
    <br/>
    Du hast ein neues Passwort für das iLA-System angefordert. Es lautet:
</p>
<ul>
    <li>Password: <span th:text="${password}">Passwort</span></li>
</ul>
<p>Mit diesem Passwort und Deiner Email oder Deinem Nutzernamen kannst Du Dich unter <span th:text="${ilaUrl}">URL</span>
    unter Verwendung des internen Logins anmelden.
</p>
<p>
    Herzliche Grüße,<br/>
    Das iLA Orga Team
</p>
</body>
</html>